@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    min-width: 1500px;
    margin: 0;
    background-color: rgba(19, 181, 179, 0.8);
}
.title{
    margin-top: 150px;
}
.Navbar{
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-left: 20px;
    height: 60px;
    width: 60px;
}
.points{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.array{
    font-family: "oswald: 700px;";
    padding-right: 90px;
    font-weight: 400px;
    font-size: 15px;
    line-height: 20px;
}
a {
    font-family: "oswald: 700px;";
    padding-right: 90px;
    font-weight: 500px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: black
}
a:hover{
    color: #c4c4c4;
}
.burger{
    margin-right: 40px;
    height: 60px;
    width: 60px;
}
h1{
    text-align: center;
    font-family: "oswald: 700px;";
    font-weight: 500px;
    font-size: 45px;
    line-height: 20px;
    margin-top: 10px;
}
h2{
    font-style: italic;
    font-family: "oswald: 700px;";
    font-weight: 500px;
    font-size: 45px;
    line-height: 20px;
}
p{
    font-family: "oswald: 300px";
    font-weight: 400px;
    font-size: 18px;
    line-height: 30px;
}
#footer{
    margin-top: 400px;
    height: 500px;
    width: 100%;
    background-color: black;
    color: gold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 44px;
}
.link{
    color: gold;
}
.first_column{
    justify-content: center;
    align-items: center;
    margin: 80px 300px 150px 120px;
}
.second_column{
    justify-content: center;
    align-items: center;
    margin: 80px 300px 50px 0;
}
.third_column{
    justify-content: center;
    align-items: center;
    margin: 80px 120px 150px 0;
}
